:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  body {
    margin: 80px auto;
  }
  h1,
  h2,
  h3 {
    margin: 0;
  }
  h1 {
    font-size: 96px;
  }
  
  h2 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 24px;
    opacity: 0.7;
  }
  
  p {
    margin: 30px 0 50px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .navigation-links {
    display: flex;
    margin: 40px 0;
    justify-content: center;
  }
  .navigation-links a {
    margin: 0 10px;
    text-transform: capitalize;
  }
  a {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
  }
  
  .primary-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }
  